'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Recents'
      'submenu': [
        {
          'label': 'View'
          'command': 'recents:view'
        }
      ]
    ]
  }
]
